<div class="container mt-4">
  <div class="card shadow-sm">
    <!-- <div class="card-header bg-primary text-white rounded-top">
      <h2 class="mb-0">{{ isEditMode ? 'Edit Assistant' : 'Create Assistant' }}</h2>
    </div> -->
    <div class="card-header text-white rounded-top" style="background-color: rgba(16, 89, 102, 0.7);">
  <h2 class="mb-0">{{ isEditMode ? 'Edit Assistant' : 'Create Assistant' }}</h2>
</div>

    <div class="card-body">
      <form [formGroup]="assistantForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6 pe-md-3">
            <h5 class="mb-3">Assistant Details</h5>

            <div class="mb-3">
              <label for="legalAssistantFname" class="form-label">First Name</label>
              <input type="text" id="legalAssistantFname" formControlName="legalAssistantFname"
                class="form-control rounded"
                [ngClass]="{'is-invalid': assistantForm.get('legalAssistantFname')?.invalid && assistantForm.get('legalAssistantFname')?.touched}">
              <div
                *ngIf="assistantForm.get('legalAssistantFname')?.invalid && assistantForm.get('legalAssistantFname')?.touched"
                class="invalid-feedback">
                Assistant Name is required.
              </div>
            </div>

            <div class="mb-3">
              <label for="legalAssistantLname" class="form-label">Last Name</label>
              <input type="text" id="legalAssistantLname" formControlName="legalAssistantLname"
                class="form-control rounded"
                [ngClass]="{'is-invalid': assistantForm.get('legalAssistantLname')?.invalid && assistantForm.get('legalAssistantLname')?.touched}">
              <div
                *ngIf="assistantForm.get('legalAssistantLname')?.invalid && assistantForm.get('legalAssistantLname')?.touched"
                class="invalid-feedback">
                Assistant Name is required.
              </div>
            </div>

            <div class="mb-3">
              <label for="joinDate" class="form-label">Join Date</label>
              <input type="date" id="joinDate" formControlName="joinDate" class="form-control rounded"
                [ngClass]="{'is-invalid': assistantForm.get('joinDate')?.invalid && assistantForm.get('joinDate')?.touched}">
              <div *ngIf="assistantForm.get('joinDate')?.invalid && assistantForm.get('joinDate')?.touched"
                class="invalid-feedback">
                Joining Date is required.
              </div>
            </div>

            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" id="email" formControlName="email" class="form-control rounded"
                [ngClass]="{'is-invalid': assistantForm.get('email')?.invalid && assistantForm.get('email')?.touched}">
              <div *ngIf="assistantForm.get('email')?.invalid && assistantForm.get('email')?.touched"
                class="invalid-feedback">
                Email is required.
              </div>
            </div>

            <div class="mb-3">
              <label for="text" class="form-label">Mobile No</label>
              <input type="text" id="mobileNo" formControlName="mobileNo" class="form-control rounded"
                [ngClass]="{'is-invalid': assistantForm.get('mobileNo')?.invalid && assistantForm.get('mobileNo')?.touched}">
              <div *ngIf="assistantForm.get('mobileNo')?.invalid && assistantForm.get('mobileNo')?.touched"
                class="invalid-feedback">
                Mobile No is required.
              </div>
            </div>

            <div class="form-check mb-3">
              <input
                type="checkbox"
                id="isActive"
                formControlName="isActive"
                class="form-check-input"
              >
              <label for="isActive" class="form-check-label">Is Active?</label>
            </div>

            <div class="mb-3">
              <label for="monthlyStipend" class="form-label">Monthly Stipend</label>
              <input type="text" id="monthlyStipend" formControlName="monthlyStipend" class="form-control rounded"
                [ngClass]="{'is-invalid': assistantForm.get('monthlyStipend')?.invalid && assistantForm.get('monthlyStipend')?.touched}">
              <div *ngIf="assistantForm.get('monthlyStipend')?.invalid && assistantForm.get('mobileNo')?.touched"
                class="invalid-feedback">
                Monthly Stipend is required.
              </div>
            </div>

            <div class="mb-3">
              <label for="nidNumber" class="form-label">Nid Number</label>
              <input type="text" id="nidNumber" formControlName="nidNumber" class="form-control rounded"
                [ngClass]="{'is-invalid': assistantForm.get('nidNumber')?.invalid && assistantForm.get('nidNumber')?.touched}">
              <div *ngIf="assistantForm.get('nidNumber')?.invalid && assistantForm.get('nidNumber')?.touched"
                class="invalid-feedback">
                Nid Number is required.
              </div>
            </div>

            <div class="mb-3">
              <label for="barLicenseNumber" class="form-label">BarLicense No</label>
              <input type="text" id="barLicenseNumber" formControlName="barLicenseNumber" class="form-control rounded"
                [ngClass]="{'is-invalid': assistantForm.get('barLicenseNumber')?.invalid && assistantForm.get('barLicenseNumber')?.touched}">
              <div *ngIf="assistantForm.get('barLicenseNumber')?.invalid && assistantForm.get('barLicenseNumber')?.touched"
                class="invalid-feedback">
                BarLicenseNumber is required.
              </div>
            </div>

            <div class="mb-3">
                 <div *ngIf="imagePreviewUrl" class="mt-2">
                <p class="mb-1 text-muted">Image Preview:</p>
                <img [src]="imagePreviewUrl" alt="Selected Assistant Picture Preview" class="img-thumbnail rounded" style="max-width: 60px; height: auto;">
              </div>

              <div *ngIf="!imagePreviewUrl && isEditMode && currentPicture" class="mt-2">
                <p class="mb-1 text-muted">Current Saved Picture:</p>
                <img [src]="imageUrlBase + currentPicture" alt="Current Assistant Picture" class="img-thumbnail rounded" style="max-width: 60px; height: auto;">
              </div>

              <label for="pictureFile" class="form-label">Picture</label>
              <input type="file" id="pictureFile" class="form-control rounded" (change)="onFileSelected($event)" accept="image/*">
              <!-- <small class="form-text text-muted">Upload Picture.</small> -->
            </div>

          </div>

          <div class="col-md-6 ps-md-3">
            <h5 class="mb-3">Case Details</h5>
            <div formArrayName="legalAssistantCases">
              <div class="table-responsive border rounded">
                <table class="table table-bordered table-hover align-middle mb-0">
                  <thead class="table-light">
                    <tr>
                      <th scope="col" class="col-5">Case Number</th>
                      <th scope="col" class="col-5">Case Title</th>
                      <th scope="col" class="col-5">FIR No</th>
                      <th scope="col" class="col-5">Filing Date</th>
                      <th scope="col" class="col-2 text-center">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    
                     <ng-container *ngIf="legalAssistantCases.controls.length > 0; else noSkillsAdded">

                      <tr *ngFor="let caseGroup of legalAssistantCases.controls; let i = index" [formGroupName]="i">
                        
                        <td>
                          <label [for]="'case' + i" class="visually-hidden">Case Number</label>
                          <select [id]="'case' + i" formControlName="caseId" class="form-select rounded"[class.is-invalid]="caseGroup.get('caseId')?.invalid && caseGroup.get('caseId')?.touched">

                            <option [ngValue]="0" disabled>Select a Case</option>
                            <option *ngFor="let case of cases" [ngValue]="case.caseId">{{ case.caseNumber }}</option>
                          </select>
                          <div *ngIf="caseGroup.get('caseId')?.invalid && caseGroup.get('caseId')?.touched" class="invalid-feedback">
                            case is required.
                          </div>
                        </td>


                        <td>
                          <label [for]="'caseTitle' + i" class="visually-hidden">Case Title</label>

                          <input type="text" [id]="'caseTitle' + i" formControlName="caseTitle" class="form-control rounded"

                            [class.is-invalid]="caseGroup.get('caseTitle')?.invalid && caseGroup.get('caseTitle')?.touched">

                          <div *ngIf="caseGroup.get('caseTitle')?.invalid && caseGroup.get('caseTitle')?.touched" class="invalid-feedback">
                            caseTitle is required.
                          </div>
                        </td>

                        <td>
                          <label [for]="'firnumber' + i" class="visually-hidden">FIR No</label>

                          <input type="text" [id]="'firnumber' + i" formControlName="firnumber" class="form-control rounded"

                            [class.is-invalid]="caseGroup.get('firnumber')?.invalid && caseGroup.get('firnumber')?.touched">

                          <div *ngIf="caseGroup.get('firnumber')?.invalid && caseGroup.get('firnumber')?.touched" class="invalid-feedback">
                            FIR No is required.
                          </div>
                        </td>

                        <td>
                          <label [for]="'filingDate' + i" class="visually-hidden">Filing Date</label>

                          <input type="date" [id]="'filingDate' + i" formControlName="filingDate" class="form-control rounded"

                            [class.is-invalid]="caseGroup.get('filingDate')?.invalid && caseGroup.get('filingDate')?.touched">

                          <div *ngIf="caseGroup.get('filingDate')?.invalid && caseGroup.get('filingDate')?.touched" class="invalid-feedback">
                            filingDate is required.
                          </div>
                        </td>

                        <td class="text-center">
                          <button type="button" class="btn btn-outline-danger btn-sm rounded" (click)="removeLegalAssistantCase(i)">
                            <i class="fas fa-trash-alt me-1"></i> Remove
                          </button>
                        </td>

                      </tr>
                    </ng-container>
                    <ng-template #noSkillsAdded>
                      <tr>
                        <td colspan="5" class="text-center py-4">
                          <div class="alert alert-info mb-0 rounded" role="alert">
                            No Case added. Click "Add Case" to add one.
                          </div>
                        </td>
                      </tr>
                    </ng-template>
                  </tbody>
                </table>


              </div>
              <button type="button" class="btn btn-outline-primary mt-3 rounded" (click)="addLegalAssistantCase()">
                <i class="fas fa-plus-circle me-1"></i> Add Case
              </button>
              
            </div>
          </div>
        </div>

         <div class="mt-4 pt-3 border-top">
          <button type="submit" class="btn btn-success me-2 rounded" [disabled]="assistantForm.invalid">
            <i class="fas fa-save me-1"></i> {{ isEditMode ? 'Update' : 'Create' }}
          </button>
          <a routerLink="/legalassistants" class="btn btn-secondary rounded">
            <i class="fas fa-arrow-alt-circle-left me-1"></i> Back to List
          </a>
        </div>
      </form>
    </div>



  </div>
</div>